<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><strong>Configurar Parámetros</strong> </h3>
                <hr>
                <form ngNativeValidate [formGroup]="parametros" (ngSubmit)="configurarParametros()" class="form-horizontal form-material" id="loginform">
                    <div class="form-group ">
                        <h4>Cantidad de Transacciones:</h4>
                        <div class="col-xs-12">
                            <input formControlName="cantidad" name="cantidad" class="form-control" type="text" required placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Monto Diario:</h4>
                        <div class="col-xs-12">
                            <input formControlName="monto" name="monto" class="form-control" type="text" required placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <h4>Límite por Transacción:</h4>
                        <div class="col-xs-12">
                            <input formControlName="limite" name="limite" class="form-control" type="text" required placeholder="">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Cambiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
