<div class="container">
    <div class="row justify-content-xl-center">
        <div class="card">
            <div class="card-body">
                <div class="col-xl-12">
                    <h2 class="card-title">Elija el método de pago:</h2>
                    <hr>
                    <br>
                    <h3>Paypal:</h3>
                    <div #paypal>

                    </div>
                    <h3>Stripe:</h3>
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" id="submit-button" (click)="pay(_rechargeService.montoExterno)">
                        Pagar ${{_rechargeService.montoExterno}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>