<div class="container">
    <div class="row justify-content-md-center">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-md-center align-items-center">
                    <div class="col-md-auto">
                        <h3><strong>Saldo Disponible:</strong><strong class="text-success">B.s {{cuenta.balance}}</strong></h3>
                    </div>
                    <div class="col-md-auto" *ngIf="natural">
                        <button routerLink="/recharge" class="btn btn-info btn-lg text-uppercase waves-effect waves-light">Recargar Saldo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h3 class="card-title"> <strong>Ultimas transacciones:</strong> </h3>
                </div>
                <div class="col-sm">
                    <button class="btn btn-info btn-md text-uppercase waves-effect waves-light float-right" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Mostrar/Ocultar
                    </button>
                </div>
            </div>
            <hr>
            <div class="collapse show" id="collapse1" *ngIf="operations">
                <div class="row" *ngFor="let op of operations">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h4><strong>Fecha de la operacón:</strong> {{op.date_operation | date: 'dd/MM/yyyy'}}</h4>
                                    <h4><strong>Monto: </strong> <strong class="text-success">B.s {{op.amount}}</strong></h4>
                                    <h4><strong>Destinatario: </strong> {{op.account_number}}</h4>
                                    <h4><strong>Referencia: </strong> {{op.reference}}</h4>
                                    <h4><strong>Tipo de operación: </strong> {{op.type_operation}}</h4>
                                    <h4><strong>Informacion: </strong> {{op.info}}</h4>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h3 class="card-title"> <strong>Reintegros:</strong> </h3>
                </div>
                <div class="col-sm">
                    <button class="btn btn-info btn-md text-uppercase waves-effect waves-light float-right" type="button">
                        Mostrar/Ocultar
                    </button>
                </div>
            </div>
            <hr>
            <div>
                <div class="row" *ngFor="let re of refunds ">
                    <div class="col-12 ">
                        <div class="card ">
                            <div class="card-body ">
                                <div>
                                    <h4><strong>Estatus: </strong> <strong class="text-success ">{{re.status}}</strong></h4>
                                    <h4><strong>Referencia: </strong> {{re.reference}}</h4>
                                    <h4><strong>Monto: </strong> <strong class="text-success ">B.s {{re.amount}}</strong></h4>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 ">
    <div class="card ">
        <div class="card-body ">
            <div class="row ">
                <div class="col-sm ">
                    <h3 class="card-title "> <strong>Todas las transacciones:</strong> </h3>
                </div>
                <div class="col-sm ">
                    <button class="btn btn-info btn-md text-uppercase waves-effect waves-light float-right " type="button " data-toggle="collapse " data-target="#collapse3 " aria-expanded="false " aria-controls="collapse3 ">
                    Mostrar/Ocultar
                </button>
                </div>
            </div>
            <hr>
            <div class="collapse show " id="collapse3 ">
                <div class="row " *ngFor="let op of allOperations ">
                    <div class="col-12 ">
                        <div class="card ">
                            <div class="card-body ">
                                <div>
                                    <h4><strong>Fecha de la operacón:</strong> {{op.date_operation | date: 'dd/MM/yyyy'}}</h4>
                                    <h4><strong>Monto: </strong> <strong class="text-success ">B.s {{op.amount}}</strong></h4>
                                    <h4><strong>Destinatario: </strong> {{op.account_number}}</h4>
                                    <h4><strong>Referencia: </strong> {{op.reference}}</h4>
                                    <h4><strong>Tipo de operación: </strong> {{op.type_operation}}</h4>
                                    <h4><strong>Informacion: </strong> {{op.info}}</h4>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>